.vscode/settings.json
*.pyc
*/test*.py
*/test.py
*/venv
*cache
*/data_cache
*.lscache
*.bin
*.db
Docs/reference.pdf
Docs/main.aux
Docs/main.bbl
Docs/main.blg
Docs/main.lof
Docs/main.log
Docs/main.lot
Docs/main.out
Docs/main.pdf
Docs/main.toc
.claude/settings.json
artifacts*